<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <link href="stylesheets/bootstrap-switch.css" rel="stylesheet">
    <script src="javascripts/bootstrap-switch.js"></script>
    <script>
//        $(function() {
//            $('input[type="checkbox"]').bootstrapSwitch();
//        });
        var mydata;
        var ejsvar = JSON.parse('<%- JSON.stringify(users) %>');

        $(function() {

            $.ajax({
                method: "get",
                url: '/total',
                data: " ",
                success: function (data) {
                    mydata = data;
                    if(ejsvar[0].alarm < mydata.results){
                    alert("You have reached the Max limit");}

                }
            });

        });

    </script>
</head>
<body>
<!--<br><br>-->
<!--<div class="container">-->





<!--</div>-->
</body>
</html>